---
import Tag from "@/components/TagBentoItem.astro";
import GitHubIcon from "@/icons/GitHub.astro";
import LinkIcon from "@/icons/Link.astro";

const {
    class: className,
    imageUrl,
    title,
    description,
    tags,
    codeUrl,
    pageUrl,
} = Astro.props;
---

<div
    class=`${className} bento-item dark:bg-[#111213] bg-[#3c536933]/20 w-full h-full p-3 rounded-xl cursor-pointer relative flex justify-center overflow-hidden`
>
    <figure class="absolute inset-0 z-[50] transition-transform duration-300">
        <img class="rounded-xl" src={imageUrl} alt="" style="" />
    </figure>

    <div
        style="--h1-size: 76px; --information-size: 233px"
        class="information absolute bg-black/60 backdrop-blur-sm px-6 py-4 bottom-0 text-white/100 flex flex-col h-fit w-full z-[100] opacity-0 transition-opacity duration-200"
    >
        <h1 class="font-semibold w-full h-fit mb-4 text-2xl">
            {title}
        </h1>
        <p>{description}</p>

        {
            tags && (
                <div class="tags flex mt-4 gap-2 flex-wrap">
                    {tags.map((tag) => (
                        <Tag tagName={tag} />
                    ))}
                </div>
            )
        }
    </div>

    <div class="code-preview absolute right-0 top-0 z-[80] mt-4 mr-4 flex gap-2">
        {
            codeUrl && (
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={codeUrl}
                    class="bg-white/20 backdrop-blur-sm text-black p-2 block rounded-2xl"
                >
                    <GitHubIcon class="size-6" />
                </a>
            )
        }

        {
            pageUrl && (
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={pageUrl}
                    class="bg-white/20 backdrop-blur-sm text-black  p-2 block rounded-2xl"
                >
                    <LinkIcon class="size-6" />
                </a>
            )
        }
    </div>
</div>

<style>
    .item-empty {
        @apply bg-transparent shadow-none;

        box-shadow: none !important;

        .code-preview {
            display: none;
        }
    }

    html.light div {
        box-shadow: 0 5px 17px -2px #323232;
    }

    html.dark div {
        box-shadow: 0 5px 17px -2px #99999911;
    }

    .bento-item:not(.item-empty):hover {
        .information {
            opacity: 1;
        }

        figure {
            transform: scale(1.05);
        }
    }
</style>
